<template>
  <div>
    <div id="markers"></div>
  </div>
</template>

<script>
import * as ROS3D from "ros3d";
import * as ROSLIB from "roslib";

export default {
  name: "Markers",

  /**
   * Setup all visualization elements when the page is loaded.
   */
  mounted() {
    // Connect to ROS.
    const ros = new ROSLIB.Ros({
      url: "ws://localhost:9090"
    });

    const tfListener = new ROSLIB.Topic({
      ros: ros,
      name: "/tf",
      messageType: "tf2_msgs/TFMessage"
    });

    tfListener.subscribe(msg => {
      // console.log(tfMsg);
    });

    // Create the main viewer.
    const viewer = new ROS3D.Viewer({
      divID: "markers",
      width: 800,
      height: 600,
      antialias: true
    });

    // Add a grid.
    viewer.addObject(new ROS3D.Grid());

    // Setup a client to listen to TFs.
    const tfClient = new ROSLIB.TFClient({
      ros: ros,
      angularThres: 0.01,
      transThres: 0.01,
      rate: 10.0
      // fixedFrame: "/world"
    });

    // Urdf client
    const urdfClient = new ROS3D.UrdfClient({
      ros: ros,
      tfClient: tfClient,
      path: "http://localhost",
      rootObject: viewer.scene
      // loader: ROS3D.COLLADA_LOADER_2
    });
  }
};
</script>

<!-- Add "scoped" acoderibute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  margin-top: 0;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
</style>
